{% extends 'base.html.twig' %}

{% block title %}{{ sitename }} - {{ title }}{% endblock %}

{% block body %}
    <div class="m-4">
        <h1 class="text-light">Welcome Home</h1>

        {% if app.debug %}
            {{ dump(app, app.user, app.request, app.session, app.flashes, app.environment, app.token) }}
        {% endif %}

    </div>
{% endblock %}
