{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="m-4">
        <h1 class="text-light">Welcome Home</h1>

        {{ dump() }}

    </div>
{% endblock %}
