{% extends 'base.html.twig' %}

{% block title %}Hello IngredientUnitController!{% endblock %}

{% block body %}
    <h1>{{test}}</h1>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block stylesheets %}
{% endblock %}
